$gradient: radial-gradient(circle, rgb(24, 38, 109) 0%, rgb(39, 6, 19) 100%);
$font-color-black: black;
$font-color-white: white;
$box-shadow-dark: 0 0 10px rgba(0, 0, 0, 0.5);
$rem: 1rem;
$background-default:rgb(168, 65, 65);
$background-blue:rgb(59, 141, 173);
$background-lightyellow:rgb(202, 202, 124);
$background-yellow:rgb(169, 172, 35);;
